html,body{
    margin: 0 auto;
    font-size: 16px;
    line-height: 1.71429;
    font-family: 'Raleway', sans-serif; 
}
.container , .container2 , .picture-background, #footer{/*especificaciones comunes*/
  width: 100%;   /*,.container1*/
  margin-right: auto;
  margin-left: auto;
}
 /*header*/
header{
    padding:0px 230px;
    position:relative;
}/*se le da position:relative para que sirva de referencia*/

.logo-header{
    width:60px;
    position:relative;/ /*para moverlo sin romper el flujo*/ 
    left:500px; 
}

.box-header {
    display:inline-block;/*para la conformación del menú */  
}

/*container1*/
 #container1{
    background-image:url("../assets/images/bg-home.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    color: #fff;
}
#container1 div {
    padding: 60px 0 140px 0;
}
.text-uppercase{/*puede ir en los generales*/
    text-transform:uppercase;
}

#container1 h2 {
    font-size: 24px;
    font-weight: bold;
}

#container1 h1 {
    font-size: 53px;
    margin:0;
}

#container1 p{
  margin:0;
}

#container1 a{
  background:#2ecc71;
  padding:12px;
  font-size:13px;
  border-radius:4%;
  display:inline-block;
  margin-top:30px;
}
/*container*/
.container{
  background:rgb(241,124,114);/*color de fondo*/
}
/*.container .sub-container2*/
img{/*para que ocupe todo el espacio*/
  max-width:100%;
}
#subcontainer1{
  padding-top:40px;
  text-align:center;
  color:white;
}

#subcontainer2{
  display:table;
  text-align:center;
  padding-top:70px;
  padding-bottom:70px;
  padding-left:100px;
  padding-right:30px;
  color:white;
}/*se usó display:block, para que los elementos flotados (#box-subcontainer2) se contengan otra vez en el padre y se muestren por completo*/

#box-subcontainer2{
  width:30%;
  float:left; 
}

.container h2, .container2 h2{/*tamaño a la letra*/
  font-size:30px;
}

#box-subcontainer2 img{
  max-width:50%;
}

#box{
  width:30%;
  float:left;
  font-weight:bold;
}

.container2{
  margin-top:30px;
  text-align:center;
}

.container2 p{
  padding:40px 250px;
}

.menu-options{
  padding-left:100px;
}
.menu-options p{
  padding-top:8px;
  padding-bottom:40px;
}

.menu-options img{
  width:80%;
}

#footer{
  height:70px;
  background:rgb(41,45,54);
  text-align:center;
  padding-top:20px;
  color:white;
  clear:both;/*para romper el flujo que se originó por float*/
}
